Recursos iniciales
__pycache__
day15_Coffee_Machine_Requirements.pdf
day16/Coffee Machine Documentation.html
day16/day16_Coffee+Machine+Program+Requirements.pdf
*/mail_credentials.py
day32/birthday_wisher/birthdays.csv
day33/*/my_position.py
day35/open_wather_API_KEY.py
*/API_KEYS.py
day41AND42/*.html
day41AND42/*.jpeg
day41AND42/*.docx
day41AND42/css
