Recursos iniciales
__pycache__
day15_Coffee_Machine_Requirements.pdf
day16/Coffee Machine Documentation.html
day16/day16_Coffee+Machine+Program+Requirements.pdf
day32/mail_credentials.py
day32/Birthday_Wisher/mail_credentials.py